.nav {
    background-color: #131921;
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
}


.logo {
    background-color: transparent;
    width: 10vw;
    text-align: center;
    position: static;
}

#logo-img-home {
    width: 90%;
    height: 90%;
}

.search-bar {
    background-color: transparent;
    width: 70vw;    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-form {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-right: 1px solid #cdcdcd;
    border-radius: 5px 0px 0px 5px;
    width: 5%;
    background-color: #f3f3f3;
    height:100%;
    cursor: pointer;
}

#search-dropdown:hover, #search-dropdown:focus{
    background-color: #dadada;
}

#search-dropdown-span {
    font-family: inherit;
    font-size: 12px;
}

#search-dropdown-content {
    display: none;
}

#search-input {
    width: 80%;
    height: 100%;
    border: none;
}

#search-submit {
    margin-right: 5px;
    height: 100%;
    color: rgb(49, 49, 49);
    background-color: #febd69;
    width: 5%;
    border-radius: 0 5px 5px 0;
    border: none;  
    cursor: pointer;

}

.search-bar-component {
    margin: 0;
    padding: 0;
}

.user-nav {
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.user-session {
    width: 40%;
    height: 80%;
    font-size: 14px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* align-content: center; */
    
}

.user-session:hover {
    border: 1px solid white;
}

#welcome {
    color: white;
    text-align: center;
}

.create-session {
    color: white;
    text-decoration: none;
}

.create-session:hover {
    color: gold;
}

.logins {
    display: flex;
    justify-content: space-around;
}

.nav-logout {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

/* search-bar
    display: flex;
    flex: 1;
*/