.nav {
    background-color: #131921;
    height: 5vh;
    width: 100vw;
    display: flex;
}


.logo {
    background-color: transparent;
    width: 10vw;
    text-align: center;
}

#logo-img {
    width: 7em;
    height: 2.5em;
}

.search {
    background-color: coral;
    width: 70vw;
    display: flex;
}

.user-session {
    width: 10vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#welcome {
    color: white;
    text-align: center;
}

.create-session {
    color: white;
}

.logins {
    display: flex;
    justify-content: space-around;
    padding: 1px 10px 2px 10px;
}

.nav-logout {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

/* search-bar
    display: flex;
    flex: 1;
*/