.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    /* min-height: 77vh; */
    background-color: rgb(235, 237, 237);
    padding-bottom: 3vh;
}

.carousel-background-carousel {
    min-width: 320px;
    width: 87vw;
    height: 0;
    margin: 0 auto;
    padding-top: 40%;
    background-image: linear-gradient(to bottom, transparent 30%, rgb(235, 237, 237) 80%), url("../../images/alexa-home.jpg");
    background-size: 100% auto;
}

.carousel-img {
    /* min-width: 600px; */
    width: 100%;
    height: auto;
    border-radius: 0 0 5px 5px;
}

.features-container {
    position: relative;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -20%;
}

.feature {
    text-decoration: none;
    width: 21%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 8px;
    background-color: white;
    /* padding:0 5px; */
    margin-bottom: 10px;
    /* transition: transform 1s; */
}
/* 
.feature:hover {
    transform: scale(1.05);
} */



.feature-category {
    color: black;
    font-weight: 550;
    font-size: 21px;
    width: 100%;
    min-height: fit-content;
    margin-top: 10px;
    padding-left: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 5px;

}

.feature-img {
    border-radius: 5px;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}

#feature-divider {
    margin-top: 2vh;
    width: 100%;
    height: 1px;
    /* position: relative; */
}

/*  */

.recommend-list-container {
    width: 91.5%;
    margin-top: 2vh;
    padding: 2vh 1vw;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: white;
    
}

#recommendations {
    font-weight: 550;
    font-size: 1.2rem;
}

.recommend-list-inner {
    padding-top: 1.5vh;
    display: flex;
}

.recommend-link {
    text-decoration: none;
    margin: 5px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;

}
/* 
position: relative;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -20%; */
@media (max-width: 600px) {
    /* .features-container {
        all: initial;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: -20%;

    } */
    .feature {
        /* all: initial; */
        /* flex: 1 1 27%; */
        margin: 5px;
        width: 20%;
    }
    .feature-category {
        /* all: initial; */
        font-size: 2.5vw;
    }
    .feature-img {
        /* all: initial; */
    }
}
