.category-show-wrapper {
    display: flex;
    justify-content: center;
    min-height: 77vh;
    background-color: #e9e8e8ce;

}

.category-show-container {
    margin-top: 50px;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.category-name {
    font-size: 28px;
    font-weight: 550;
}

.category-products-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.category-list {
    flex: 1 1 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    margin: 5px;
    padding-bottom: 30px;
    box-shadow: 3px 2px 2px #b1b1b1ce;
    /* border-bottom: 1px solid rgb(25, 13, 13); */
    /* background-color: #f8f8f8; */
    background-color: white;
}

.category-item-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    min-height: 200px;
    height: 300px;
}

.category-list-link {
    color: black;
    text-decoration: none;
}

#category-show-img {
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 100%;
    object-fit: contain;
    /* border: 1px solid black; */
}

#category-product-item-link {
    text-decoration: none;
}

.category-product-name {
    margin: 5px;
    color: rgb(15, 17, 17);
    font-family: "Amazon Ember",Arial,sans-serif;
    text-align: center;
}

.category-product-name:hover{
    color: rgb(182, 92, 34);
}

.category-product-price {
    /* margin: auto; */
    /* width: 100%; */
    margin: 5px 0;
    min-width: fit-content;
    display: flex;
}

.index-decimal {
    font-size: 13px;
    height:fit-content;
    margin-right: 2px;
}

#index-tens {
    font-size: 20px;

}