.footer-container-outer {
    background: rgb(37, 47, 61);
}

.footer-top {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 13px;
    background-color: rgb(58, 71, 88);
    height: 5vh;
    cursor: pointer;
}

.footer-top:hover {
    background-color: rgb(71, 81, 103);
}

.footer-container {
    width: 100%;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.footer-container-inner {
    display: flex;
    justify-content: space-evenly;
    min-width: 320px;
    height: fit-content;
    width: 90%;
}

.footer-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-title {
    color: white;
    font-weight: 550;
    font-size: 16px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.home-footer-links {
    text-decoration: none;
    font-size: 14px;
    color: #c6d4df;
    margin: 5px 0;
}

.home-footer-links:hover {
    text-decoration: underline;
}

.home-footer-copyright {
    color: rgb(145, 152, 159);
    border-top: 1px solid rgb(57, 69, 85);
    padding: 2vh 0;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.copyright-link {
    color: rgb(184, 194, 203);
    text-decoration: none;
}

@media (max-width: 600px) {
    .footer-title {
        font-size: 10px;
    }
    .home-footer-links {
        font-size: 8px;
    }
    .home-footer-copyright {
        font-size: 8px;
    }
}
/* .footer-icons {
    font-size: 5vh;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;  
}

.footer-link {
    text-decoration-style: dashed;
    color: gray;
    font-size: 2.5vh;
}

.footer-icons:hover {
    border: 1px solid white;
}

.footer-link:hover {
    color: cornflowerblue;
} */