.session-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border-top: 1px solid black;
}

.footer-links-box {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.footer-links {
    text-decoration: none;
    font-size: 12px;
    /* margin: 0 10px 0 10px; */
    color: #0065c0;
}

.footer-links-separator {
    margin: 0 10px 0 10px;
}

.footer-links:hover {
    /* text-decoration: none;
    font-size: 12px;
    margin: 0 10px 0 10px; */
    text-decoration: underline;
    color: #c45500;
}

.footer-copyright {
    font-size: 11px;
    color: #555;
}