.session-container {
    margin: auto;
    margin-top: 2%;
    height: 50vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.session-form {
    width: 20%;
    border: 1px solid #eeeeee;
    padding: 1%;
    border-radius: 5px;
}

.session-form h2 {
    font-size: 2em;
    font-weight: 400;
}

.session-form label {
    display: flex;
    margin-top: 5%;
    font-weight: 600;
}

.session-form input {
    width: 100%;
    margin-top: 5%;
    border: none;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    outline: none;
}

.session-form input:focus {

    box-shadow: 0 0 5px #e57705;
    /* box-shadow: 0 0 5px rgba(81, 203, 238, 1); */


    /* border: 1px solid rgba(81, 203, 238, 1); */
    /* background: black; */
}

.session-login-button {
    width: 100%;
    margin-top: 5%;
    border: none;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    outline: none;

    margin-left: 0.5%;
    border-color: #a88734 #9c7e31 #846a29;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    background-image: linear-gradient(#f6d891, #f2ca66);
    color: #111;
    cursor: pointer;
}

.session-login-button:hover {
    background: rgb(247, 199, 77);
}

.session-logo {
    text-align: center;
}

#logo-img {
    width: 15vw;
    margin-bottom: 1em;
}

.session-breaker {
    margin-top: 1em;
    display: flex;
}

.session-breaker h5 {
    font-size: 13px;
}

.sign-in-link {
    margin-left: 5px;
    font-size: 13px;
    text-decoration: none;
}

.sign-in-link:hover {
    color: darkgoldenrod;
}

.session-new-account {
    margin-top: 1.5%;
    margin-bottom: 1%;
    width: 20%;
    /* background-color: aqua; */
    text-align: center;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e7e7e7;
}

.session-new-account h5 {
    margin-top:-2.5%;
    color: #767676;
    font-size: 12px;
    padding: 0px 5%;
    background: white;
}

.session-create-button {
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;

    border:none;
    border-color: #a88734 #9c7e31 #846a29;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    background-image: linear-gradient(#f6d891, #f2ca66);
}

.session-create-button:hover {
    background: rgb(247, 199, 77);
}

