.session-container {
    margin: auto;
    margin-top: 2%;
    height: 50vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.session-form-error {
    width: 350px;
    border: 1px solid #d00;
    border-radius: 5px;
    box-shadow: 0 0 0 3px rgba(221, 0, 0, 0.338) inset;
    padding-left: 20px;
    margin-bottom: 30px;
}

.session-alert {
    color: #c40000;
    /* font-family: "Amazon Ember",Arial,sans-serif; */
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 530;
}

.session-alert-error {
    /* font-family: "Amazon Ember",Arial,sans-serif; */

    margin-bottom: 1.33em;
    font-size: 13px;
}

.session-form {
    width: 350px;
    border: 1px solid #eeeeee;
    padding: 1%;
    border-radius: 5px;
}

.session-form h2 {
    font-size: 2em;
    font-weight: 400;
}

.session-form label {
    display: flex;
    margin-top: 5%;
    font-weight: 600;
}

.session-input {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    outline: none;
}

.session-input:focus {
    box-shadow: 0 0 5px #e57705;
}

.session-errors {
    background-color: white;
    border: 1px solid #d00;
    box-shadow: 0 0 0 3px rgba(221, 0, 0, 0.338) inset;
}

.session-input-error {
    margin-bottom: 0;
    text-align: left;
    font-size: 12px;
    line-height: 15px;
    color: #cf3832;
}

.session-login-button {
    width: 100%;
    margin-top: 5%;
    border: none;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    outline: none;

    margin-left: 0.5%;
    border-color: #a88734 #9c7e31 #846a29;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    background-image: linear-gradient(#f6d891, #f2ca66);
    color: #111;
    cursor: pointer;
}

.session-login-button:hover {
    background: rgb(247, 199, 77);
}

.session-logo {
    text-align: center;
}

#logo-img {
    width: 140px;
    height: 50px;
    margin-bottom: 5px;
}

.session-breaker {
    margin-top: 1em;
    display: flex;
}

.session-breaker h5 {
    font-size: 13px;
}

.sign-in-link {
    margin-left: 5px;
    font-size: 13px;
    text-decoration: none;
}

.sign-in-link:hover {
    color: darkgoldenrod;
}

.session-new-account {
    margin-top: 1.5%;
    margin-bottom: 1%;
    width: 25%;
    /* background-color: aqua; */
    text-align: center;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e7e7e7;
}

.session-new-account h5 {
    margin-top:-2.5%;
    color: #767676;
    font-size: 12px;
    padding: 0px 5%;
    background: white;
}

.session-create-button {
    width: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;

    border: 1px solid #ddd;
    background-image: linear-gradient(#f7f8fa, #e7e9ec);
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
}

.session-create-button:hover {
    background: #ddd;
}

.session-create-link {
    text-decoration: none;
    color: inherit;
}