.checkout-container {
    margin: 30px auto;
    background: rgb(234, 234, 237);
    /* width: 90%; */
    min-width: 700px;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.checkout-inner-container {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    
}

.checkout-header {
    font-size: 28px;
}

.checkout-span-note {
    margin: 7px 0;
    margin-left: 15px;
    font-size: 18px;
    color: rgb(48, 111, 131);
}

.checkout-portfolio {
    margin: 7px 0;
    font-size: 22px;
    /* font-weight: 550; */
}

#checkout-portfolio-link {
    text-decoration-style: dashed;
    color:lightcoral;
    font-size: 20px;
    font-weight: 550;
}

#checkout-portfolio-link:hover {
    color: cornflowerblue;
}

.checkout-continue-shopping {
    text-decoration: none;
    font-size: 20px;
    color: rgb(53, 143, 158)
}

.checkout-continue-shopping:hover {
    color: rgb(200, 80, 39);
}