.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 750px;
}

/* Result List */

.result-header {
    font-weight: 550;
    font-size: 20px;
    margin: 20px 0;
}

.result-product-container {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid rgb(245, 245, 245);
    width: 700px;
    border-radius: 5px;
}

.result-image-container {
    background: rgb(248, 248, 248);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-image {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
}

.result-info-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.result-product-link {
    text-decoration: none;
    color: black;
}

.result-product-name {
    font-size: 18px;
}

.result-product-name:hover {
    color: rgb(182, 92, 34);
}

.result-product-reviews {
    display: flex;
    align-items: center;
}

.result-stars {
    height: 18px;
    width: 18px;
}

.result-product-total-reviews {
    margin-top: 3px;
    margin-left: 5px;
    font-size: 14px;
    color: rgb(79, 132, 150);
}


/* No Result */

.no-result-container {
    margin-top: 20px;
}

.no-result-h1 {
    font-weight: 550;
    margin-bottom: 10px;
}

.no-result-span {
    font-size: 14px;
}

