.nav {
    background-color: #131921;
    /* height: 60px; */
    height: 8vh;
    /* width: 100%; */
    min-width: 800px;
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid transparent;
    height: 50px;
}

.nav-container:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.logo {
    margin-left: 10px;
    margin-top: 10px;
    background-color: transparent;
    width: 10vw;
    min-width: 100px;
    text-align: center;
    /* position: static; */
}

#logo-img-home {
    width: 80%;
    max-width: 8vw;
    min-width: 100px;
    height: auto;
}

.search-bar {
    background-color: transparent;
    width: 70vw;    
    min-width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-form {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 0;
}

.search-bar-form:focus-within {
    /* outline-offset: 0px; */
    border: 3px solid rgb(241, 158, 56);
    /* border: 3px solid rgb(241, 158, 56); */
    border-radius: 5px;
}



#search-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-right: 1px solid #cdcdcd;
    border-radius: 5px 0px 0px 5px;
    width: 5vh;
    background-color: #f3f3f3;
    height: 5vh;
    cursor: pointer;
}

#search-dropdown:hover{
    background-color: #dadada;
}

#search-dropdown-span {
    /* font-family: inherit; */
    /* font-size: 12px; */
}

#search-dropdown-content {
    display: none;
}

#search-input {
    min-width: 200px;
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 7px;
}

#search-input:focus {
    border: none;
    outline: none;
}

.search-input-container {
    min-width: 200px;
    width: 100%;
    height: 5vh;
    border: none;
    position: relative;
}

.searches-container {
    background: white;
    margin-top: 3px;
    /* z-index: 9; */
    border: 3px solid #bbb;
    border-radius: 5px;

}

.search-item-container {
    background: white;
    width: calc(100% - 10px);
    padding: 3px 5px;    
}

.search-item-name {
    width: 100%; /* the element needs a fixed width (in px, em, %, etc) */
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis;
    cursor: pointer;
}

.search-item-name:hover {
    background: rgb(238, 238, 238);
}

.search-more-items {
    width: 100%;
    padding: 3px 5px;
    color: gray;
    cursor: pointer;
}

.search-more-items:hover {
    background: rgb(238, 238, 238);
    color: rgb(111, 148,230);
}

#search-item-link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    height: 18px;
}

#search-submit {
    /* margin-right: 5px; */
    height: 5vh;
    color: rgb(49, 49, 49);
    background-color: #febd69;
    width: 5vh;
    border-radius: 0 5px 5px 0;
    border: none;  
    cursor: pointer;
}

.search-bar-component {
    margin: 0;
    padding: 0;
}

/* User Nav */

.user-nav {
    width: 20vw;
    min-width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.user-session {
    /* width: 100px; */
    min-width: 120px;
    font-size: 14px;
    background-color: transparent;
    
}

.user-session:hover {
    border: 1px solid white;
    border-radius: 3px;
    
}

.user-nav-container {
    width: 100%;
    /* min-width: 65px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 5px;
}

#welcome {
    color: white;
    /* text-align: center; */
    font-size: calc(1rem - 2px);
    margin: 0 auto;
}

.logins {
    display: flex;
    align-content: space-between;
    margin: 0 auto;
    /* min-width: max-content; */
}

.create-session {
    color: white;
    margin: 5px 0;
    text-decoration: none;
    font-weight: 550;
    font-size: 1rem;
}

.create-session:hover, .nav-logout:hover {
    color: gold;
}


.nav-logout {
    margin: 5px 0;
    padding: 0;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: calc(1rem - 2px);
    font-weight: 550;
    color: white;
    cursor: pointer;
}

.nav-user-orders {
    color: white;
    text-decoration: none;
    align-items: center;
    width: 80px;
    min-width: 80px;
    /* Align to left for returns  &orders text */
}

.nav-user-orders:hover {
    border: 1px solid white;
    border-radius: 3px;
}

#nav-returns {
    font-size: 11px;
}

#nav-orders {
    font-size: 14px;
    font-weight: 550;
}

.nav-user-cart {
    display: flex;
    width: 60px;
    flex-direction: row;
    text-decoration: none;
    background-color: transparent;
    color: white;
}

#cart-items {
    font-size: 20px;
    margin-left: 10px;
    color: #febd69;
    font-weight: 550;
}

.nav-user-cart:hover {
    border: 1px solid white;
    border-radius: 3px;
}