.cart-index-container {
    background: rgb(234, 234, 237);
    display: flex;
    min-height: 87vh;
    flex-wrap: wrap;
}

/* container with items */
.cart-list-container {
    flex: 1 1 70%;
    margin: 30px 10px;
    /* margin: 30px; */
    width: 90%;
    min-width: 500px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

.cart-checkout-container {
    flex: 0 1;
    background: rgb(255, 255, 255);
    margin: 30px;
    min-width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.cart-checkout-body {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-checkout-button {
    margin: auto;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    background: rgb(249, 217, 76);
    cursor: pointer;
}

.cart-checkout-button:hover {
    background: rgb(240, 204, 68);
}

.checkout-button-link {
    text-decoration: none;
    color: black;
    width: 100%;
    margin: auto;
}

.cart-list-container-inner {
    margin: 20px;
}

.total-price-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.total-price {
    font-size: 18px;
    font-weight: 550;
}

.cart-list-header {
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

#shopping-cart {
    font-size: 28px;
}

#shopping-cart-price {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

.cart-product-container {
    display: flex;
    min-width: 440px;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.cart-img {
    display: flex;
    justify-content: left;
    align-items: center;
    /* display: flex; */
    /* text-align: center; */

}
.cart-img > #cart-product-img-link {
    width: 200px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-product-img {
    max-width: 180px;
    max-height: 175px;
    width: auto;
    height: auto;

}

.cart-product-body {
    padding-left: 0.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-product-name {
    font-family: Nunito, sans-serif;
}

.cart-product-body-info {

}

.cart-product-body-free {
    display: flex;
}

.cart-product-body-category {

}

#cart-product-category {
    font-size: 14px;
    font-weight: 550;
}

#cart-product-category-name {
    font-size: 13px;
    text-decoration: none;
    color: rgb(48, 111, 131);
}

#cart-product-category-name:hover {
    color: #C7511F;
}

.cart-product-body-actions {
    display: flex;
}

.body-action {
    padding: 5px 10px;
    border-right: 1px solid rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-product-quantity {
    display: flex;
}

.product-quantity {
    background: rgb(240, 242, 242);
    border-radius: 5px;
    height: 2em;
    width: 40px;
}

#cart-remove {
    background: none;
    border: none;
    color: rgb(48, 111, 131);
    cursor: pointer;

}

#cart-remove:hover {
    text-decoration: underline;
}

.cart-product-price-container {
    width: 20%;
    /* min-width: 90px;
    max-width: 230px; */
    display: flex;
    justify-content: flex-end;
}

#cart-product-price {
    font-size: 18px;
    font-weight: 550;
}


/* container without items */
.cart-no-list-container {
    margin: 30px auto 10px;
    background: rgb(255, 255, 255);
    width: 90%;
    min-width: 700px;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cart-title {
    margin-left: 20px;
    font-size: 28px;
}

.continue-shopping {
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(53, 143, 158)
}

.continue-shopping:hover {
    color: rgb(200, 80, 39);
}

@media (max-width: 600px) {

    .cart-product-container {
        min-width: none;
    }

    .cart-img > #cart-product-img-link {
        width: 100px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cart-product-img {
        max-width: 90px;
        max-height: 110px;
        width: auto;
        height: auto;
    }

}