.cart-index-container {
    background: rgb(234, 234, 237);
    display: flex;
}

/* container with items */
.cart-list-container {
    margin: 30px auto 10px;
    width: 90%;
    min-width: 700px;
    background: rgb(255, 255, 255);
}

.cart-list-container-inner {
    margin: 20px;
}

.cart-list-header {
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

#shopping-cart {
    font-size: 28px;
}

#shopping-cart-price {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

.cart-product-container {
    display: flex;
    min-width: 600px;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.cart-img {
    display: flex;
    justify-content: left;
    align-items: center;
    /* display: flex; */
    /* text-align: center; */

}
.cart-img > #cart-product-img-link {
    width: 200px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-product-img {
    max-width: 180px;
    max-height: 175px;
    width: auto;
    height: auto;

}

.cart-product-body {
    padding-left: 0.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-product-body-info {

}

.cart-product-body-free {
    display: flex;
}

.cart-product-body-category {

}

#cart-product-category {
    font-size: 14px;
    font-weight: 550;
}

#cart-product-category-name {
    font-size: 13px;
    text-decoration: none;
    color: rgb(48, 111, 131);
}

#cart-product-category-name:hover {
    color: #C7511F;
}

.cart-product-body-actions {
    display: flex;
}

.body-action {
    padding: 5px 10px;
    border-right: 1px solid rgb(221, 221, 221);
}

.cart-product-quantity {
    display: flex;
}

#cart-remove {
    background: none;
    border: none;
    color: rgb(48, 111, 131);
    cursor: pointer;

}

#cart-remove:hover {
    text-decoration: underline;
}

.cart-product-price-container {
    width: 20%;
    min-width: 90px;
    max-width: 230px;
    display: flex;
    justify-content: flex-end;
}

#cart-product-price {
    font-size: 18px;
    font-weight: 550;
}

/* container without items */
.cart-no-list-container {
    margin: 30px auto 10px;
    background: rgb(255, 255, 255);
    width: 90%;
    min-width: 700px;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cart-title {
    margin-left: 20px;
    font-size: 28px;
}

.continue-shopping {
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(53, 143, 158)
}

.continue-shopping:hover {
    color: rgb(200, 80, 39);
}
